.page-content {
   margin-top: 100px;
   /* padding: 60px; */
   border-radius: 23px;
}

.most-popular {
   margin-top: 60px;
   padding: 30px;
   background-color: #ae82bd;
   border-radius: 23px;
}

.heading-section h4 {
   font-size: 20px;
}

h4 {
   text-decoration: none;
   margin-bottom: 30px;
   margin-top: 0px;
   font-weight: 700;
}

.most-popular .item {
   background-color: #7aa0b3;
   padding: 30px 15px;
   border-radius: 23px;
   margin-bottom: 30px;
}

.most-popular .item img {
   border-radius: 23px;
}

.most-popular .item h4 {
   font-size: 15px;
   margin-top: 20px;
   margin-bottom: 0px;
   display: inline-block;
}

.most-popular .item span{
   color: #d1d1d1;
   display: block;
   margin-top: 7px;
   font-weight: 400;
}

.most-popular .item ul{
   float: right;
   margin-top: 20px;
   margin-bottom: 0px;
}

.most-popular .item ul li{
   text-align: right;
   color: #fff;
   font-size: 14px;
}


ul, li{
   padding: 0px;
   margin: 0px;
   list-style: none;
}